[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventlet = "*"
simplejson = "*"
redis = "*"
flask = "*"
pyglet = "*"
image = "*"
pillow = "*"
Jinja2 = ">=2.10.1"
django = ">=1.11.22"
flask-cors = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3"
